@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #aa3bff;
  --color-primary-light: rgba(170, 59, 255, 0.1);
}

body {
  @apply bg-slate-950 text-slate-200 antialiased;
}
